{{ template "header" "ix" }}
  <h1>Tags</h1>
<ul class="list-group">
  {{ range $name, $count := .Tags }}
  <li class="list-group-item">
    <span class="badge">{{ $count }}</span>
    {{ $name }}
  </li>
  {{ end }}
</ul>  
{{ template "footer" }}
