{{ template "header" .Name }}
      <div class="starter-template">
        <h1>Tag {{ .Name }}</h1>
        <ul>
        {{ range .Issues }}
          <li>Issue {{ .Id }}: <a href="/issue/{{ .Id }}">{{ .Title }}</a> - <a href="{{ .Status }}">{{ .Status }}</a></li>
        {{ end }} 
      </div>
{{ template "footer" }}
